@font-face {
  font-family: "AbrilFatface-Regular";
  src: url(../assets/fonts/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: "Lato-Light";
  src: url(../assets/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-Regular";
  src: url(../assets/fonts/Lato-Regular.ttf);
}
h1.h3.mb-3 {
  font-size: 2.5rem;
}

a.dropdown-item.Bariloche {
  font-size: 1.5rem !important;
}

p {
  cursor: text;
  margin-top: 20px;
  text-align: center;
  font-family: "Lato-Light";
}

h3 {
  text-align: center;
  font-family: "AbrilFatface-Regular";
}

h2 {
  text-align: center;
  font-family: "Lato-Regular";
}

h1 {
  text-align: center;
  font-size: 80px;
  font-family: "AbrilFatface-Regular";
}

.iniciaR {
  font-size: 40px;
}

.card-title {
  font-size: 40px;
}

.card-text {
  font-size: 25px;
}

.RioColor {
  display: inline-block;
  font-family: "AbrilFatface-Regular";
  font-size: 60px;
}

.color {
  font-family: "AbrilFatface-Regular";
}

.QuienesSomos {
  background: linear-gradient(130deg, #f7ffd5 0, #e4ffd9 10%, #d1ffdc 20%, #beffdc 30%, #adffda 40%, #9df2d5 50%, #90e1ce 60%, #87d2c8 70%, #81c5c2 80%, #7dbbbd 90%, #7bb3b9 100%);
}

body.registrate {
  background: linear-gradient(130deg, #f7ffd5 0, #e4ffd9 10%, #d1ffdc 20%, #beffdc 30%, #adffda 40%, #9df2d5 50%, #90e1ce 60%, #87d2c8 70%, #81c5c2 80%, #7dbbbd 90%, #7bb3b9 100%);
}

a.nav-link.dropdown-item:hover {
  background-color: #f8f1f1 !important;
}

h1.h3.mb-3 {
  color: #241d8b;
  background-color: turquoise;
}

body.fondoIndex {
  height: 100%;
  background: linear-gradient(130deg, #f7ffd5 0, #e4ffd9 10%, #d1ffdc 20%, #beffdc 30%, #adffda 40%, #9df2d5 50%, #90e1ce 60%, #87d2c8 70%, #81c5c2 80%, #7dbbbd 90%, #7bb3b9 100%);
}

hr {
  border: 2px solid #16c79a;
  background-color: #16c79a;
}

p {
  color: #11698e;
}

h3 {
  color: #0a236a;
}

h2 {
  color: #0a236a;
}

h1 {
  text-shadow: 7px 7px #beffdc;
  color: #0a236a;
}

h5 {
  color: #19456b;
}

.iniciaR {
  color: #16c79a;
}

small {
  color: #19456b;
}

.bg-dark {
  background-image: linear-gradient(270deg, #f7ffd5 0, #e4ffd9 10%, #d1ffdc 20%, #beffdc 30%, #adffda 40%, #9df2d5 50%, #90e1ce 60%, #87d2c8 70%, #81c5c2 80%, #7dbbbd 90%, #7bb3b9 100%) !important;
}

.card-title {
  color: #f8f1f1;
}

.card-text {
  color: #3f3697;
}

.btn-primary {
  color: #3f3697;
  background-color: #f8f1f1;
  border: double 4px grey;
}

.btn-primary:hover {
  color: #f8f1f1;
  background-color: #3f3697;
  border-color: #3f3697;
}

.btn {
  color: #3f3697 !important;
  background-color: #f8f1f1 !important;
  border: double 4px grey !important;
}

.btn:hover {
  color: #f8f1f1 !important;
  background-color: #3f3697 !important;
  border-color: #3f3697 !important;
}

.RioColor {
  color: #153e90;
}

.BarColor {
  color: #16c79a;
}

.color {
  color: #000000;
}

div.row.featurette {
  width: 100%;
  background: linear-gradient(130deg, #f7ffd5 0, #e4ffd9 10%, #d1ffdc 20%, #beffdc 30%, #adffda 40%, #9df2d5 50%, #90e1ce 60%, #87d2c8 70%, #81c5c2 80%, #7dbbbd 90%, #7bb3b9 100%);
}

.bg-light {
  background: linear-gradient(130deg, #f7ffd5 0, #e4ffd9 10%, #d1ffdc 20%, #beffdc 30%, #adffda 40%, #9df2d5 50%, #90e1ce 60%, #87d2c8 70%, #81c5c2 80%, #7dbbbd 90%, #7bb3b9 100%) !important;
}

input {
  background-color: #3f3697;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #3f3697;
}

a {
  color: #000000 !important;
}

.navbar-dark .navbar-toggler {
  background: #7bb3b9 !important;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  div.container-fluid.paggingBariloche {
    padding-top: 35px;
  }
  h1.col-sm-12.Paraiso {
    margin: revert;
    cursor: text;
  }
  h1.col-sm-12.registrate {
    margin: revert;
    cursor: text;
  }
}
div.col-md-1 {
  margin-top: inherit;
  padding-top: 20px;
}

h3.aos-init.aos-animate {
  font-size: 1.4rem;
  cursor: text;
}

h3.RioColor {
  font-size: xx-large;
}

p.color {
  font-size: larger;
}

img.logo.aos-ini.aos-animate {
  display: block;
  margin: auto;
}

div.form-group {
  width: 275px !important;
  padding-right: 0px !important;
}

li.list-group-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

h1.col-sm-12.aos-init.aos-animate {
  font-size: xxx-large;
  width: 100%;
  position: relative;
}

ul.navbar-nav.mr-auto {
  align-items: flex-start !important;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  h1.col-sm-12.Paraiso {
    margin: revert;
    font-size: xxx-large;
  }
  h3.RioColor {
    font-size: calc(1em + 1vw);
  }
}
ul.navbar-nav.mr-auto {
  align-items: flex-start !important;
}

.move:hover {
  transition-duration: 230ms !important;
  position: relative !important;
  bottom: 20px !important;
}

div.card.mb-4.shadow-sm {
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}

img.logo.aos-init.aos-animate {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.container-fluid.nav {
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
}

.lead {
  text-align: justify;
}

.img-fluid.index {
  border-radius: 30% !important;
}

#navbarDropdownMenuLink {
  padding-bottom: 0;
}

ul.navbar-nav.mr-auto {
  align-items: center;
}

.moverR {
  position: relative;
  top: -110px;
}

div.row.featurette {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer {
  height: 4rem;
}

.container-fluid .nav {
  text-align: center;
}

.AlineadoH3 {
  text-align: initial;
}

a.dropdown-item.margin {
  width: 200px;
}

div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.fondoBody {
  background-image: url("https://elephas.com.ar/wp-content/uploads/2020/06/bariloche-trekking-1-scaled.jpg");
  background-size: contain;
}

div.col-md-4 {
  padding-top: 15px;
}

h3.AlineadoH3.aos-init.aos-animate {
  padding-top: 15px;
}

a.texto {
  font-size: 15px;
}

div.col-ms-6 {
  position: relative;
  left: 76px;
}

div.row.featurette.CambioLugar {
  margin-top: 0px;
  margin-bottom: 0px;
}

div.row.featurette.logoQuienes {
  margin-top: 0px;
  margin-bottom: 0px;
}

h1.col-sm-12.QuienesSomos.aos-init.aos-animate {
  margin-top: 20px;
}

.video-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

h3.text-md-left.Nu {
  margin: 30px;
}

.ulQuienes {
  padding: 0;
}

.fondoBodyTierraDFuego {
  background-image: url("https://www.costacruceros.com/content/dam/costa/inventory-assets/ports/USH/ush-ushuaia-port-1.jpg");
  background-size: contain;
}

/*# sourceMappingURL=estilos.css.map */
