@media (min-width: 300px) and (max-width: 600px) {
  h1 {
    color: brown;
  }
  .columna-mobile-100 {
    width: 100%;
  }
  .container.Top {
    margin-top: 72px;
  }
}
/* 0 PIXELES A 600PX */
@media (min-width: 601px) and (max-width: 900px) {
  .container.Top {
    margin-top: 72px;
  }
  h1 {
    color: chartreuse;
  }
  footer {
    text-align: center;
  }
  /* de esta forma achicamos la imagen, del footer, y la dejamos centrada */
  footer .logo-footer {
    width: 50%;
  }
  footer ul .redes {
    justify-content: center;
  }
  footer ul {
    padding-left: 0;
    list-style: none;
  }
  footer ul li {
    margin: 10px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .columna-25 {
    width: 25%;
  }
}
@media (min-width: 901px) and (max-width: 1500px) {
  .columna {
    padding-right: 15px;
    padding-left: 15px;
    width: 25%;
  }
  .container.Top {
    margin-top: 72px;
  }
}

@media print and (min-width: 300px) {
  h1 {
    color: black;
  }
}
.li.navbar-nav {
  flex-direction: row;
}

ul.navbar-nav {
  flex-direction: row;
}

footer {
  background-color: black;
  color: white;
  padding-top: 60px;
}

footer .barra-footer {
  background-color: grey;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

footer ul li {
  margin: 10px;
}

footer .logo-footer {
  width: 100%;
}

footer p {
  color: white;
  margin-bottom: 30px;
}

footer a {
  color: white;
  text-decoration: none;
}


footer ul.redes {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

footer .redes a {
  margin: 0 7.5px;
}

.container.Top {
  color: #FFFFFF;
}

.btn-secondary {
  --bs-btn-border-color: #343a40;
  --bs-btn-hover-color: #3D6675;
  --bs-btn-border-width:0px;
}

.imagen {
  background-image: url(https://i.pinimg.com/originals/4e/79/be/4e79becb3cafb329bdffb22f6134462a.jpg);
  background-size: contain;
  opacity: 80%;
}

a.nav-link {
  color: white;
}

.nav-link:hover {
  color: #3D6675;
}

.colorFondo {
  background-color: #3D6675;
}

div.espacio {
  padding-top: 95px;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container {
  margin: 0 auto 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

div.container-fluid.nav {
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
}


