.imagen {
  background-image: url(https://images.pexels.com/photos/2536967/pexels-photo-2536967.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  
  opacity: 80%;
}
div.imagen-padding{
    padding-left: 7%;
}
.imagenLogo{
  width: 80px;
  height: 48px;
}
