@import "media";
@import "nav";
@import "footer";




.columna{
    padding-right: 15px;
    padding-left: 15px;
}

.container-fluid{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.container{
    margin: 0 auto 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
.columna-25 {
    width: 25%;
}